*{box-sizing: border-box; padding: 0;  margin: 0;}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 125%;
}
/*html,*/body{width: 100%; height: 100%;}
body{
  /*padding: 30px; */
  /*background-color: darkgray;*/
  width: 100%;
}
.wrapper{
  max-width: 820px;
  margin: 0 auto;
  font-size: 1.03rem;
}
ol,ul{
  padding: 30px;
}
p{padding-left: 16px; text-align: center;}


.vidWrapper{width: 100%; height: 100%; margin: 0 auto; background: #CCC;}
.h_iframe        {position: relative;}
.h_iframe .ratio {display: block; width: 100%; height: auto;}
.h_iframe iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.connectus, .extlinks{
  display: flex;  justify-content: space-around; 
}
.connectus>a, .extlinks>a{
  padding: 4px; flex-grow: 1; text-align: center; 
  border-radius: 4px; text-decoration: none; margin: 2px;
  font-size: 1.3em;
}
.extlinks{flex-wrap: wrap;}
.vertus>a{border: 1px solid rgb(214, 82, 107); color: rgb(214, 82, 107);}
.invertus>a{color: white; background-color: rgb(214, 82, 107); /*border: 1px solid azure;*/}

.cntr{text-align: center;}

.bgRazdelitel{
  width: 100%; height: 30.45px; /* задаем высоту контейнера фоновой картинки в процентном соотношении от ширины*/
  background: url(../img/razdelitel.png) center no-repeat;/* Параметры фона */
  background-size: contain; /* Масштабируем фон */
  margin-bottom: 20px;
}
/* 56vw для тега iframe youtube 
.ratio169{
  width: 100%; height: calc(width * 56%); 
}
*/

.bg{
  width: 100%; height: 177vw; /* задаем высоту контейнера фоновой картинки в процентном соотношении от ширины*/
  background: url(../img/bg.png) center repeat-y;/* Параметры фона */
  background-size: contain; /* Масштабируем фон */
}
.bgName{
  width: 100%; height: 34.0667px; /* задаем высоту контейнера фоновой картинки в процентном соотношении от ширины*/
  background: url(../img/name.jpg) center no-repeat; /* Параметры фона */
  background-size: contain; /* Масштабируем фон */
}
/*
Задаем высоту контейнера фоновой картинки в процентном соотношении от ширины
Параметры фона
Масштабируем фон
.bgPicName{
  width: 100%; height: 68vw;
  background: url(../img/pictureAndName.png) center no-repeat;
  background-size: contain;
}
*/
.bgPicName2{
  padding-top: 68.1482%;
  background: rgba(0, 0, 0, 0) url("../img/pictureAndName.png") no-repeat scroll 0px 0px / 100%;
}

.bgPrice{
  width: 100%; height: 20vw; /* задаем высоту контейнера фоновой картинки в процентном соотношении от ширины*/
  background: url(../img/price.png) center no-repeat;/* Параметры фона */
  background-size: contain; /* Масштабируем фон */
}
/*
Задаем высоту контейнера фоновой картинки в процентном соотношении от ширины
Параметры фона
Масштабируем фон
.bgH-moiUsligi{
  width: 100%; height: 20vw;
  background: url(../img/h-moiUsligi.png) center no-repeat;
  background-size: contain;
}
*/
.bgH-moiUsligi2{
  padding-top: 20.1852%;
  background: rgba(0, 0, 0, 0) url("../img/h-moiUsligi.png") no-repeat scroll 0px 0px / 100%;
}
/*
Задаем высоту контейнера фоновой картинки в процентном соотношении от ширины
Параметры фона
Масштабируем фон
.bgH-MyInterviewAboutPcihoterapia{
  width: 100%; height: 20vw;
  background: url(../img/h-MyInterviewAboutPcihoterapia.png) center no-repeat;
  background-size: contain;
}
*/
.bgH-MyInterviewAboutPcihoterapia2{
  padding-top: 23.5185%;
  background: rgba(0, 0, 0, 0) url("../img/h-MyInterviewAboutPcihoterapia.png") no-repeat scroll 0px 0px / 100%;
}


.bgH-WithLoveAndRespect{
  width: 100%; height: 23vw; /* задаем высоту контейнера фоновой картинки в процентном соотношении от ширины*/
  background: url(../img/h-WithLoveAndRespect.png) center no-repeat;/* Параметры фона */
  background-size: contain; /* Масштабируем фон */
}

.bgH-WithLoveAndRespect2{
  padding-top: 20.0926%;
  background: rgba(0, 0, 0, 0) url(../img/h-WithLoveAndRespect.png) no-repeat scroll 0px 0px / 100%;
}